.title{
    text-align: center;
    font-size: 2.5em;
    margin-top: 3rem;
    font-style: oblique;
}

.weather-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7.4rem;
    flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
  .weather-container {
    flex-flow: column;
    align-items: stretch;
    margin: 1rem;
    gap: 2rem;
  }
}

.container{
    font-size: 1.5rem;
    padding: 1rem;
}


.container {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }

